.main {
  /* margin-top: 60px; */
  padding-top: 15px;
  overflow: hidden;
  background-color: #fafafa;
  max-height: 100vh;
}
.detail-scroll {
  max-height: 90vh;
  overflow-y: scroll;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.detail-scroll::-webkit-scrollbar {
  width: 8px;
  border-radius: 5rem;
}
.detail-scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
.detail-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.detail-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.detail-main {
  /* max-height: 90vh; */
  /* overflow: scroll; */
  width: 100%;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hospital-detail {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 20px;
  border-bottom: 1px solid var(--gray-border);
}
.hospital-detail img {
  width: 140px;
  /* height: 80px; */
}
.hopital-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
}
.hopital-header h3 {
  margin: 0;
  font-weight: 600;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.hopital-header i {
  font-size: 1.4rem;
  color: var(--sky-blue);
}
.hopital-header span {
  font-size: 0.9rem;
  color: var(--font-gray);
  width: 90%;
  text-align: justify;
}
/* .detail-main hr{
  width: 100%;
  margin: 15px 0 0 0;
} */
.card {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  border: none;
  background-color: transparent;
}
.card-header {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
.card-header strong {
  font-weight: 600;
  font-size: 1.2rem;
}
.sub-header {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: center;
  gap: 10px;
}
.appointmentForSpan {
  border: none;
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  flex-basis: max-content;
}
.appointmentForSpanActive {
  flex-basis: max-content;
  border: none;
  background-color: var(--light-blue);
  padding: 5px 10px;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}
.appointmentForSpanActive i {
  font-size: 1.3rem;
  color: var(--sky-blue);
}
.appointmentForSpan i {
  font-size: 1.3rem;
  color: var(--font-gray);
}
.sub-header p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  /* flex-flow: row wrap; */
  align-items: center;
  gap: 5px;
  color: var(--font-gray);
  cursor: pointer;
}
.sub-header p i {
  font-size: 1.3rem;
}

.card-body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}
.card-body strong {
  font-weight: 600;
  font-size: 1.2rem;
  position: relative;
}
.card-body strong i {
  position: absolute;
  top: 0;
  left: -35%;
  transform: translate(35%, 0);
  font-size: 1.8rem;
  color: var(--font-gray);
}
.card-body input {
  width: 100%;
  border-bottom: 1px solid var(--sky-blue);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-size: 1.5rem;
  padding: 5px 0;
  background-color: #fff;
  /* color: black; */
}
.card-body span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--font-gray);
}
.card-body span i {
  font-size: 1rem;
}
.sub-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}
.sub-body strong {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--font-gray);
}
.sub-body span {
  width: 100%;
  border-radius: 0.3rem;
  padding: 10px;
  border: 1px solid var(--gray-border);
  background-color: #f2f2f2;
  color: black;
  font-size: 0.9rem;
  font-weight: 400;
}
.card-footer {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}
.card-footer-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-footer-div strong {
  font-weight: 600;
  font-size: 1.2rem;
  position: relative;
}
.card-footer-div strong i {
  position: absolute;
  top: 0;
  left: -20%;
  transform: translate(20%, 0);
  font-size: 1.8rem;
  color: var(--font-gray);
}
.card-footer-div button {
  width: max-content;
  background-color: var(--red);
  border: none;
  color: #fff;
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 0.2rem;
}
.showCardForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sub-footer {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 0.3rem;
  border: 1px solid var(--gray-border);
  background-color: #f2f2f2;
  /* border: 1px solid var(--sky-blue);
  background-color: var(--light-blue); */
}
.sub-footer span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  font-weight: 500;
}
.sub-footer span input[type="radio"] {
  accent-color: var(--sky-blue);
  cursor: pointer;
}
.sub-footer span img {
  width: 30px;
}
.cartMain {
  width: 100%;
  padding: 15px;
  border-radius: 0.3rem;
  border: 1px solid var(--gray-border);
  /* background-color: #f2f2f2; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* .cartMain  strong{
  color: var(--sky-blue);
} */
.cartMain form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cartMain form .cart-input {
  /* border: 1px solid red; */
  display: flex;
  gap: 20px;
}
.creditFormButton {
  width: 100%;
  background-color: var(--red);
  border: none;
  color: #fff;
  padding: 8px;
  font-weight: 600;
  border-radius: 0.2rem;
}
.creditFormVButtonActive {
  width: 100%;
  background-color: var(--gray-border);
  border: 0;
  color: #fff;
  padding: 8px;
  font-weight: 600;
  border-radius: 0.2rem;
}

.card-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 20px;
  background-color: #fff;
  border-radius: 0.2rem;
}
/* .card-profile h5 {
  font-weight: 600;
  color: var(--red);
  width: 100%;
  text-align: center;
} */
.card-body-profile {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
/* .body-profile{
    border-radius: 5rem;
    overflow: hidden;
} */
.body-profile img {
  width: 60px;
  height: auto;
  border-radius: 5rem;
}
.profile-tittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}
.profile-tittle strong {
  /* margin-bottom: 10px; */
}
.profile-tittle span {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 5px;
}
.profile-tittle span strong {
  margin: 0;
}
.profile-tittle p {
  margin: 5px 0;
  border-radius: 1rem;
  background-color: #f2f2f2;
  padding: 8px 10px;
  width: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile-tittle p i {
  font-size: 1.4rem;
}
.fees-div {
  width: 100%;
  margin: 10px 0;
}
.fees-div ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fees-div ul li {
  padding: 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fees-div ul li span {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--font-gray);
}
.fees-div ul li strong {
  font-weight: 600;
}
.fees-div hr {
  margin: 5px 0;
}
.card-footer .card-footer-button {
  width: 100%;
  background-color: var(--red);
  border: none;
  color: #fff;
  padding: 12px;
  font-weight: 600;
  border-radius: 0.2rem;
}
/* ----------Modal---------------------------------- */
.confirmModal::ng-deep.p-dialog .p-dialog-header {
  display: none;
}
.confirmModal::ng-deep.p-dialog .p-dialog-content:last-of-type {
  border-radius: 6px !important;
}
.confirmModal::ng-deep.p-dialog .p-dialog-content {
  padding: 20px;
}
.confirm {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--font-gray);
}
.confirm i {
  font-size: 3rem;
  color: var(--sky-blue);
}
.someOneModal::ng-deep.p-dialog .p-dialog-header {
  padding: 1rem 1.5rem;
}
.someOne-main {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 10px 0 0 0;
}
.someOne-main form {
  width: 100%;
}
.patientName-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.patient-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-basis: 50%;
  width: 100%;
}
.patient-input label {
  /* font-weight: 600; */
  color: black;
}
.gender {
  font-weight: 600;
}
.patient-input input {
  width: 100%;
  border-radius: 0.2rem;
  border: 1px solid var(--gray-border);
  padding: 8px 10px;
  outline: none;
}
.patient-input input:focus {
  border: 1px solid var(--sky-blue);
}
.gender-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.gender-input .genderMale {
  background-color: var(--light-blue);
  padding: 5px 10px;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}
.gender-input .genderMale i {
  font-size: 1.3rem;
  color: var(--sky-blue);
}
.gender-input .genderFemale {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}
/* .gender-input .gender-female-span i {
  font-size: 1.3rem;
  color: var(--red);
} */
.phone-input {
  width: 100%;
  border: 1px solid var(--gray-border);
  border-radius: 0.3rem;
  padding: 8px 10px;
  background-color: #f2f2f2;
  color: black;
  font-size: 0.9rem;
  font-weight: 400;
}
.phone-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--font-gray);
}
.phone-text i {
  font-size: 1rem;
}
.someOne-main button {
  background-color: var(--red);
  border: none;
  color: #fff;
  padding: 8px 12px;
  font-weight: 600;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form {
  position: relative;
  width: 100%;
  height: 40px;
  /* border: 1px solid red; */
}
.form span {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(2%, -50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 222;
  font-size: 1rem !important;
  color: black !important;
}
.form span img {
  width: 20px;
  margin-right: 3px;
}
.form__input_number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 0.3rem;
  font-family: inherit;
  font-size: inherit;
  color: black;
  outline: none;
  padding: 0 1rem 0 3.5rem !important;
  background: none;
  z-index: 1;
}
.form__input_number:focus + .form__label {
  top: -0.5rem;
  left: 0.5rem;
  color: var(--sky-blue);
  font-size: 0.7rem;
  font-weight: 500;
  z-index: 10;
}
.form__input_number:not(:placeholder-shown).form__input_number:not(:focus)
  + .form__label {
  top: -0.5rem;
  left: 0.5rem;
  font-size: 0.7rem;
  font-weight: 500;
  z-index: 10;
}
.form .form__input_number:focus {
  border-color: var(--sky-blue);
}
.form .form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 0.3rem;
  font-family: inherit;
  font-size: inherit;
  color: black;
  outline: none;
  padding: 0 1rem;
  background: none;
  z-index: 1;
}
.form .form__label {
  position: absolute;
  left: 0.5rem;
  top: 0.4rem;
  padding: 0 0.4rem;
  color: rgb(142, 142, 142);
  cursor: text;
  transition: top 200ms ease-in left 200ms ease-in font-size 200ms ease-in;
  background-color: white;
  transition: 0.3s;
}
.form__input:focus + .form__label {
  top: -0.5rem;
  left: 0.5rem;
  color: var(--sky-blue);
  font-size: 0.7rem;
  font-weight: 500;
  z-index: 10;
}
.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: -0.5rem;
  left: 0.5rem;
  font-size: 0.7rem;
  font-weight: 500;
  z-index: 10;
}
.form .form__input:focus {
  border-color: var(--sky-blue);
}
.form i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  color: #ed2f2f;
  font-size: 1.2rem;
}
/* -----cartInput------ */
.cart__form {
  position: relative;
  width: 100%;
  height: 40px;
}
.cart__form img {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-2%, -50%);
  width: 30px;
}
.saveCard {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
  color: var(--font-gray);
}
.saveCard input[type="checkbox"] {
  zoom: 1.4;
  cursor: pointer;
}
.cart__form .cart__form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 0.3rem;
  font-family: inherit;
  font-size: inherit;
  color: black;
  outline: none;
  padding: 0 1rem;
  background: none;
  z-index: 1;
}
.cart__form .cart__form__label {
  position: absolute;
  left: 0.5rem;
  top: 0.4rem;
  padding: 0 0.4rem;
  color: rgb(142, 142, 142);
  cursor: text;
  transition: top 200ms ease-in left 200ms ease-in font-size 200ms ease-in;
  background-color: #fff;
  transition: 0.3s;
}
.cart__form__input:focus + .cart__form__label {
  top: -0.5rem;
  left: 0.5rem;
  color: var(--sky-blue);
  font-size: 0.7rem;
  font-weight: 500;
  z-index: 10;
}
.cart__form__input:not(:placeholder-shown).cart__form__input:not(:focus)
  + .cart__form__label {
  top: -0.5rem;
  left: 0.5rem;
  font-size: 0.7rem;
  font-weight: 500;
  z-index: 10;
}
.cart__form .cart__form__input:focus {
  border-color: var(--sky-blue);
}
/*-------------------- validate input -------------------------------------*/

.cart__form .cartFormInputActive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-radius: 0.3rem;
  font-family: inherit;
  font-size: inherit;
  color: black;
  outline: none;
  padding: 0 1rem;
  background: none;
  z-index: 1;
}
.cart__form .cartFormLabelActive {
  position: absolute;
  left: 0.5rem;
  top: 0.4rem;
  padding: 0 0.4rem;
  color: red;
  cursor: text;
  transition: top 200ms ease-in left 200ms ease-in font-size 200ms ease-in;
  background-color: #fff;
  transition: 0.3s;
}
.cartFormInputActive:focus + .cartFormLabelActive {
  top: -0.5rem;
  left: 0.5rem;
  color: red;
  font-size: 0.7rem;
  font-weight: 500;
  z-index: 10;
}
.cartFormInputActive:not(:placeholder-shown).cartFormInputActive:not(:focus)
  + .cartFormLabelActive {
  top: -0.5rem;
  left: 0.5rem;
  font-size: 0.7rem;
  font-weight: 500;
  z-index: 10;
}
/* .cart__form .cartFormInputActive:focus {
  border-color: var(--sky-blue);
} */
.cart__form i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  color: #ed2f2f;
  font-size: 1.2rem;
}
@media (max-width: 1023px) {
  .main {
    overflow: initial;
    max-height: max-content;
  }
  .detail-scroll {
    max-height: max-content;
    overflow-y: initial;
  }
}
@media (max-width: 767px) {
  .main {
    overflow: initial;
    max-height: max-content;
  }
  .detail-scroll {
    max-height: max-content;
    overflow-y: initial;
  }
  .detail-main {
    /* max-height: 90vh; */
    /* overflow: scroll; */
    width: 100%;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .hospital-detail {
    top: -2px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 8px;
  }
  .hospital-detail img {
    width: 120px;
    height: auto;
  }
  .hopital-header h3 {
    font-size: 1.2rem;
  }
  .hopital-header i {
    font-size: 1em;
  }
  .hopital-header span {
    font-size: 0.8rem;
    width: 100%;
  }

  .card {
    padding: 15px 20px 15px 45px;
    gap: 40px;
  }
  .card-header {
    gap: 10px;
  }
  .card-header strong {
    font-size: 1rem;
  }
  /* .sub-header {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
  } */
  .appointmentForSpan {
    font-size: 0.8rem;
  }
  .appointmentForSpanActive {
    font-size: 0.8rem;
  }
  .appointmentForSpanActive i {
    font-size: 1.1rem;
  }
  .appointmentForSpan i {
    font-size: 1.1rem;
  }
  .sub-header p {
    font-size: 0.8rem;
    gap: 3px;
  }
  .sub-header p i {
    font-size: 1.3rem;
  }

  .card-body {
    gap: 10px;
  }
  .card-body strong {
    font-size: 1rem;
  }
  .card-body strong i {
    font-size: 1.4rem;
  }
  .card-body input {
    font-size: 1.2rem;
  }
  .card-body span {
    font-size: 0.7rem;
  }
  .card-body span i {
    font-size: 0.9rem;
  }
  .sub-body span {
    font-size: 0.8rem;
  }
  .card-footer {
    gap: 10px;
  }
  .card-footer-div {
    align-items: flex-start;
  }
  .card-footer-div strong {
    font-size: 1rem;
  }
  .card-footer-div strong i {
    font-size: 1.4rem;
  }
  .card-footer-div button {
    font-size: 0.8rem;
  }
  .showCardForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .sub-footer span {
    font-size: 0.8rem;
  }
  .sub-footer span img {
    width: 20px;
  }
  .cartMain form {
    gap: 10px;
  }
  .cartMain form .cart-input {
    gap: 15px;
  }

  /* -----cartInput------ */
  .cart__form {
    height: 36px;
  }
  .cart__form img {
    width: 20px;
  }
  .saveCard {
    font-size: 0.8rem;
  }
  .saveCard input[type="checkbox"] {
    zoom: 1.2;
  }
  .cart__form .cart__form__input {
    padding: 0 0.8rem;
    font-size: 0.8rem;
  }
  .cart__form .cart__form__label {
    left: 0.4rem;
    top: 0.4rem;
    font-size: 0.9rem;
  }

  /* continue */
  /*-------------------- validate input -------------------------------------*/

  .cart__form .cartFormInputActive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid red;
    border-radius: 0.3rem;
    font-family: inherit;
    font-size: inherit;
    color: black;
    outline: none;
    padding: 0 1rem;
    background: none;
    z-index: 1;
  }
  .cart__form .cartFormLabelActive {
    position: absolute;
    left: 0.5rem;
    top: 0.4rem;
    padding: 0 0.4rem;
    color: red;
    cursor: text;
    transition: top 200ms ease-in left 200ms ease-in font-size 200ms ease-in;
    background-color: #fff;
    transition: 0.3s;
  }
  .cartFormInputActive:focus + .cartFormLabelActive {
    top: -0.5rem;
    left: 0.5rem;
    color: red;
    font-size: 0.7rem;
    font-weight: 500;
    z-index: 10;
  }
  .cartFormInputActive:not(:placeholder-shown).cartFormInputActive:not(:focus)
    + .cartFormLabelActive {
    top: -0.5rem;
    left: 0.5rem;
    font-size: 0.7rem;
    font-weight: 500;
    z-index: 10;
  }
  /* .cart__form .cartFormInputActive:focus {
  border-color: var(--sky-blue);
} */
  .cart__form i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    color: #ed2f2f;
    font-size: 1.2rem;
  }

  .card-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 20px;
    background-color: #fff;
    border-radius: 0.2rem;
  }
  /* .card-profile h5 {
    font-weight: 600;
    color: var(--red);
    width: 100%;
    text-align: center;
  } */
  .card-body-profile {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  /* .body-profile{
      border-radius: 5rem;
      overflow: hidden;
  } */
  .body-profile img {
    width: 60px;
    height: auto;
    border-radius: 5rem;
  }
  .profile-tittle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
  }
  .profile-tittle strong {
    /* margin-bottom: 10px; */
  }
  .profile-tittle span {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .profile-tittle span strong {
    margin: 0;
  }
  .profile-tittle p {
    margin: 5px 0;
    border-radius: 1rem;
    background-color: #f2f2f2;
    padding: 8px 10px;
    width: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .profile-tittle p i {
    font-size: 1.4rem;
  }
  .fees-div {
    width: 100%;
    margin: 10px 0;
  }
  .fees-div ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .fees-div ul li {
    padding: 3px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fees-div ul li span {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--font-gray);
  }
  .fees-div ul li strong {
    font-weight: 600;
  }
  .fees-div hr {
    margin: 5px 0;
  }
  .card-footer .card-footer-button {
    width: 100%;
    background-color: var(--red);
    border: none;
    color: #fff;
    padding: 8px;
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 0.2rem;
  }
}
