<div class="viewSection">
  <div class="view-left">
    <div class="drDeatil-main">
      <div class="card-body-left">
        <div class="card-content" style="flex-basis: 75%">
          <p-skeleton width="50%" height="2rem" styleClass="mb-2"></p-skeleton>
          <p-skeleton width="80%" height="1rem"></p-skeleton>
        </div>
        <div class="card-img" style="flex-basis: 25%">
          <p-skeleton width="100%" height="4rem"></p-skeleton>
        </div>
      </div>

      <hr />

      <div class="review-main">
        <div class="review-rating">
          <p-skeleton width="5rem" height="2rem" styleClass="mb-1"></p-skeleton>
          <p-skeleton
            width="10rem"
            height="1.5rem"
            styleClass="mb-1"
          ></p-skeleton>
          <p-skeleton width="5rem" height="1rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="review-comment">
          <i class="bx bxs-quote-alt-left"></i>
          <div class="review-comment-div" style="width: 100% !important">
            <p-skeleton
              width="50%"
              height="1.5rem"
              styleClass="mb-1"
            ></p-skeleton>

            <p>
              <p-skeleton
                width="100%"
                height="1rem"
                styleClass="mb-1"
              ></p-skeleton>
              <p-skeleton
                width="100%"
                height="1rem"
                styleClass="mb-1"
              ></p-skeleton>
              <p-skeleton
                width="60%"
                height="1rem"
                styleClass="mb-1"
              ></p-skeleton>
            </p>
          </div>

          <i class="bx bxs-quote-alt-right"></i>
        </div>
      </div>

      <hr />
    </div>

    <!-- small screen -->
    <div class="small">
      <div class="schedule-card">
        <strong
          ><p-skeleton
            width="15rem"
            height="1.8rem"
            styleClass="mb-1"
          ></p-skeleton
        ></strong>
        <div class="calendar">
          <p-skeleton
            width="100%"
            height="2.5rem"
            styleClass="mb-2"
          ></p-skeleton>
          <p-skeleton width="100%" height="10rem" styleClass="mb-"></p-skeleton>
        </div>
        <div class="slots">
          <div class="slotButtons">
            <p-skeleton width="6.4rem" height="2.5rem"></p-skeleton>
            <p-skeleton width="6.4rem" height="2.5rem"></p-skeleton>
            <p-skeleton width="6.4rem" height="2.5rem"></p-skeleton>
            <p-skeleton width="6.4rem" height="2.5rem"></p-skeleton>
            <p-skeleton width="6.4rem" height="2.5rem"></p-skeleton>
            <p-skeleton width="6.4rem" height="2.5rem"></p-skeleton>
          </div>
        </div>
        <p-skeleton width="20rem" height="1rem" styleClass="mt-2"></p-skeleton>
      </div>
    </div>

    <div class="tabView-main mt-5">
      <p-skeleton width="100%" height="3rem" styleClass="mb-1"></p-skeleton>
    </div>
  </div>

  <div class="schedule-right">
    <div class="position">
      <div class="schedule-card">
        <strong
          ><p-skeleton
            width="15rem"
            height="1.8rem"
            styleClass="mb-1"
          ></p-skeleton
        ></strong>
        <div class="calendar">
          <p-skeleton
            width="100%"
            height="2.5rem"
            styleClass="mb-2"
          ></p-skeleton>
          <p-skeleton width="100%" height="10rem" styleClass="mb-"></p-skeleton>
        </div>
        <div class="slots">
          <div class="slotButtons">
            <p-skeleton width="6.4rem" height="2.5rem"></p-skeleton>
            <p-skeleton width="6.4rem" height="2.5rem"></p-skeleton>
            <p-skeleton width="6.4rem" height="2.5rem"></p-skeleton>
            <p-skeleton width="6.4rem" height="2.5rem"></p-skeleton>
            <p-skeleton width="6.4rem" height="2.5rem"></p-skeleton>
            <p-skeleton width="6.4rem" height="2.5rem"></p-skeleton>
          </div>
        </div>
        <p-skeleton width="20rem" height="1rem" styleClass="mb-1"></p-skeleton>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- </section> -->
