<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-8 p-4">
        <div class="detail-main">
          <div class="hospital-detail">
            <div class="hopital-header">
              <p-skeleton
                width="12rem"
                height="1.5rem"
                styleClass="mb-1"
              ></p-skeleton>
              <p-skeleton width="18rem" styleClass="mb-1"></p-skeleton>
            </div>
            <p-skeleton
              width="10rem"
              height="3rem"
              styleClass="mb-1"
            ></p-skeleton>
          </div>
          <hr />
          <div class="card">
            <div class="card-header">
              <p-skeleton width="12rem" height="1.5rem"></p-skeleton>
              <div class="sub-header">
                <p-skeleton width="5rem" height="1rem"></p-skeleton>
                <p-skeleton width="8rem" height="1rem"></p-skeleton>
              </div>
            </div>
            <div class="card-body">
              <p-skeleton width="10rem" height="1.5rem"></p-skeleton>
              <p-skeleton width="20rem" height="2rem"></p-skeleton>
              <div class="sub-body">
                <p-skeleton width="10rem"></p-skeleton>
                <p-skeleton width="20rem" height="2rem"></p-skeleton>
              </div>
              <p-skeleton width="15rem"></p-skeleton>
            </div>
            <div class="card-footer">
              <div class="card-footer-div">
                <p-skeleton width="10rem" height="1.5rem"></p-skeleton>
                <p-skeleton width="4rem" height="1.5rem"></p-skeleton>
              </div>
              <div class="showCardForm">
                <p-skeleton width="20rem" height="2rem"></p-skeleton>
                <p-skeleton width="20rem" height="2rem"></p-skeleton>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4 p-4">
        <div class="card-profile">
          <div class="card-body-profile">
            <div class="body-profile">
              <p-skeleton shape="circle" size="4rem"></p-skeleton>
            </div>
            <div class="profile-tittle">
              <strong
                ><p-skeleton
                  width="12rem"
                  height="1rem"
                  styleClass="mb-2"
                ></p-skeleton
              ></strong>
              <p-skeleton
                width="12rem"
                height="1rem"
                styleClass="mb-1"
              ></p-skeleton>
              <p-skeleton
                width="12rem"
                height="1rem"
                styleClass="mb-3"
              ></p-skeleton>
              <p-skeleton
                width="12rem"
                height="3rem"
                borderRadius="20px"
              ></p-skeleton>
            </div>
          </div>
          <div class="card-footer">
            <p-skeleton width="18.5rem" height="3rem"></p-skeleton>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
