<div class="ng-card-div">
  <p-card class="ng-card">
    <div class="card-body">
      <div class="card-body-left">
        <div class="card-content">
          <div class="card-img">
            <p-skeleton
              height="2.5rem"
              width="10rem"
              styleClass="mb-2"
            ></p-skeleton>
          </div>
          <p-skeleton height="1.3rem" width="12rem"></p-skeleton>
          <p-skeleton height="1rem" width="15rem"></p-skeleton>
        </div>
        <hr />
        <div class="card-footer">
          <div class="card-footer-main">
            <p-skeleton
              shape="circle"
              size="2rem"
              styleClass="mb-1"
            ></p-skeleton>
            <span
              ><p-skeleton
                height=".8rem"
                width="8rem"
                styleClass="mb-1"
              ></p-skeleton>
              <p-skeleton height=".7rem" width="3rem"></p-skeleton>
            </span>
          </div>
        </div>
      </div>

      <div class="card-body-right">
        <p-skeleton height="25vh" width="100%"></p-skeleton>
      </div>
    </div>
  </p-card>
  <p-card class="ng-card">
    <div class="card-body">
      <div class="card-body-left">
        <div class="card-content">
          <div class="card-img">
            <p-skeleton
              height="2.5rem"
              width="10rem"
              styleClass="mb-2"
            ></p-skeleton>
          </div>
          <p-skeleton height="1.3rem" width="12rem"></p-skeleton>
          <p-skeleton height="1rem" width="15rem"></p-skeleton>
        </div>
        <hr />
        <div class="card-footer">
          <div class="card-footer-main">
            <p-skeleton
              shape="circle"
              size="2rem"
              styleClass="mb-1"
            ></p-skeleton>
            <span
              ><p-skeleton
                height=".8rem"
                width="8rem"
                styleClass="mb-1"
              ></p-skeleton>
              <p-skeleton height=".7rem" width="3rem"></p-skeleton>
            </span>
          </div>
        </div>
      </div>

      <div class="card-body-right">
        <p-skeleton height="25vh" width="100%"></p-skeleton>
      </div>
    </div>
  </p-card>
  <p-card class="ng-card">
    <div class="card-body">
      <div class="card-body-left">
        <div class="card-content">
          <div class="card-img">
            <p-skeleton
              height="2.5rem"
              width="10rem"
              styleClass="mb-2"
            ></p-skeleton>
          </div>
          <p-skeleton height="1.3rem" width="12rem"></p-skeleton>
          <p-skeleton height="1rem" width="15rem"></p-skeleton>
        </div>
        <hr />
        <div class="card-footer">
          <div class="card-footer-main">
            <p-skeleton
              shape="circle"
              size="2rem"
              styleClass="mb-1"
            ></p-skeleton>
            <span
              ><p-skeleton
                height=".8rem"
                width="8rem"
                styleClass="mb-1"
              ></p-skeleton>
              <p-skeleton height=".7rem" width="3rem"></p-skeleton>
            </span>
          </div>
        </div>
      </div>

      <div class="card-body-right">
        <p-skeleton height="25vh" width="100%"></p-skeleton>
      </div>
    </div>
  </p-card>
  <p-card class="ng-card">
    <div class="card-body">
      <div class="card-body-left">
        <div class="card-content">
          <div class="card-img">
            <p-skeleton
              height="2.5rem"
              width="10rem"
              styleClass="mb-2"
            ></p-skeleton>
          </div>
          <p-skeleton height="1.3rem" width="12rem"></p-skeleton>
          <p-skeleton height="1rem" width="15rem"></p-skeleton>
        </div>
        <hr />
        <div class="card-footer">
          <div class="card-footer-main">
            <p-skeleton
              shape="circle"
              size="2rem"
              styleClass="mb-1"
            ></p-skeleton>
            <span
              ><p-skeleton
                height=".8rem"
                width="8rem"
                styleClass="mb-1"
              ></p-skeleton>
              <p-skeleton height=".7rem" width="3rem"></p-skeleton>
            </span>
          </div>
        </div>
      </div>

      <div class="card-body-right">
        <p-skeleton height="25vh" width="100%"></p-skeleton>
      </div>
    </div>
  </p-card>
</div>
